/* Style CSS */
.pretzels-ingredients, .cookie-ingredients{
    background-color: black;
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    border: 10px;
    margin: 20px auto;
    text-shadow: 25px;
}
.pretzels-steps, .cookie-steps{
    background-color: black;
    color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    border: 10px;
    margin: 20px auto;
    text-shadow: 25px;
}

.cookie-desc, .pretzels-desc{
    background-color: black;
    color: beige;
    padding: 20px;
    border: 10px;
    margin: 20px auto;
    text-shadow: 25px;
}
.cookie-image, .pretzels-image{
    background-color: antiquewhite;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 20px auto;
}
h1, h2, h3{
    color: brown;
    background-color: beige;
    padding: 20px;
    border: 0.2rem solid black;
    border-radius: 50px;
    outline: 0.2rem solid burlywood;
    outline-offset: 0.5rem;
    margin: 30px auto;
    text-align: center;
}
